.about {
  background: gold;
  color: #000;
  padding: 60px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #000;
}
.text p:hover{

  transform: translateX(20px)

}

.cta-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #0056b3;
}

.image {
  flex: 1;
  padding: 20px;
  text-align: center;
  
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .text {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .image {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .text h2 {
    font-size: 2rem;
  }

  .text p {
    font-size: 1rem;
  }
}