.service-section {
  background: gold;
  padding: 60px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.service-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fff;
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-card {
  background: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  text-align: center;
  transition: transform 0.3s;
  color: #fff; 
}

.service-icon {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
}

.service-card p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .service-card {
    flex: 1 1 calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}

@keyframes rotateAndColor {
  0% {
    transform: rotateY(0deg);
    background: #000;
    color: #fff;
  }
  50% {
    transform: rotateY(180deg);
    background: #fff;
    color: #000;
  }
  100% {
    transform: rotateY(360deg);
    background:  blue;
    color: #000;
  }
}

.service-card:hover {
  animation: rotateAndColor 2s forwards;
}
